<h1 class="has-text-centered"><strong>Potential Friends!</strong></h1>
<br>
<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <% if user.avatar.exists? %>
    <%= image_tag user.avatar.variant(resize_to_fill: [200, 200]) %>
  <% else %>
    <%= user.email %>
  <% end %>
<% end %>
<br>
<%= link_to edit_user_registration_path do %>
  <span class="has-text-danger"><i class="fa fa-user fa-lg" aria-hidden="true"></i></span>
<% end %>
