<%= form_with model: @post, local: true do |form| %>
  <div class="field">
    <div class="control">
      <%= form.text_area :body, placeholder: "What's on your mind?" %>
    </div>
  </div>
    <%= form.button :post, class: "button is-danger" %>
<% end %>
