<%= form_with model: @post, local: true do |form| %>
  <div class="field">
    <div class="control">
      <%= form.text_area :body, placeholder: "What's on your mind?" %>
    </div>
  </div>

  <div class="field">
    <%= form.file_field :images, multiple: true %>
  </div>
  <br />
  <%= form.button :post, class: "button is-danger" %>
<% end %>
