<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <h1 class="title">What's on your mind?</h1>
      <%= render 'form', post: @post %>
      <%= debugger %>
    </div>
  </div>
</div>
